body{
    overflow: hidden;
    width: 120vw !important;
    margin: 0 !important; 
    border: 0 !important; 
}


.background{
    width: 100vw; 
    height: 100vh;
    background-color: black; 
    background-image: url('./cover.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.headline{
    width: 100vw; 
    height: 100vh;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 8rem; 
    color: white; 
    margin-top: 30vh !important; 
}

h2{
    color: white; 
    margin-top: -5vh !important; 
    font-weight: 200;
    margin-bottom: 5vh !important;
    font-size: 1.5rem; 
}

h3{
    margin-top: 5vh !important; 
    color: white; 
    font-weight: 200 !important; 
    opacity: 0.5; 
     
}

.form{  
    width: 100vw;
    height: 40vh;
    opacity: 0.5;
    margin-left: -1vw !important; 
    margin-top: 0.5vh !important; 
}

.flexable{
    display: flex; flex-direction: row; width: 500px !important;
}

@media only screen and (max-width: 600px) {

    body{
        height: auto; 
        overflow: hidden ;
        background-color: #49403d;
    }

    .background{
        height: auto !important; 
        overflow-y: scroll !important;
    }

    h1{
        size: 5rem;
        margin-top: 10vh !important; 
    }

    h2{
        text-wrap: wrap;
    }

    .headline{ 
        width: 80vw !important; 
        margin-left: 15px !important; 
        padding-left: 0 !important; 
    }

    .flexable{
        display: flex; 
        flex-direction: column;
        width: 90vw !important;
    }
}